body {
    background-color: whitesmoke;
        margin: 0;
        padding: 0;
        text-align: center;
   }

.container {
    position: relative;
    justify-content: center;
    text-align: center;
}

.changeFont {
    color: #ffad33;
    font-size: x-large;
}

.waves-effect {
    /* The alpha value would allow the text and background color
    of the button to still show through. */
     background-color: #ffad33;
   }


/*for linear gradient */
.rainbow-effect {
    background-image: linear-gradient(to left, crimson, yellow, darkMagenta, green);
    -webkit-background-clip: text;
    color: transparent;
}