body {
    background-color: whitesmoke;
        margin: 0;
        padding: 0;
        text-align: center;
   }

.container {
    position: relative;
    justify-content: center;
    text-align: center;
}

.changeFont {
    color: #ffad33;
    font-size: x-large;
}

/*for linear gradient */
.rainbow-effect {
    background-image: linear-gradient(to left, crimson, yellow, darkMagenta, green);
    -webkit-background-clip: text;
    color: transparent;
}

hr { 
    width: 20%; 
}