body {
    background-color: whitesmoke;
        margin: 0;
        padding: 0;
        text-align: center;
   }

   .container {
    position: relative;
    justify-content: center;
    text-align: center;
}

/*for linear gradient */
.rainbow-text {
    background-image: linear-gradient(to left, crimson, yellow, darkMagenta, green);
    -webkit-background-clip: text;
    color: transparent;
}